<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.config.UserProductMapper">
  
  		<select id="findAllProduct" resultType="UserProductDTO" >
  			select product_name, price, description, stock
  			from product_table
  		</select>
  		
  		<select id="findByProductName" resultType="com.dto.UserProductDTO" parameterType="string">
    		SELECT product_name, price, description, stock
    		FROM product_table
    		WHERE product_name = #{productName}
		</select>
  		
  </mapper>