<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.config.DeptMapper">

    <!-- 전체조회 -->
    <select id="findAll" resultType="DeptDTO">
    	select deptno, dname, loc
    	from dept
    	order by deptno desc
    </select>
    
    <!-- 조건조회1 -->
    <select id="findByDeptno" resultType="DeptDTO" parameterType="int">
        select deptno, dname, loc
    	from dept
    	where deptno = #{deptno}
    </select>
    
    <!-- 조건조회2 -->
    <select id="findByDnameOrLoc" resultType="DeptDTO"
        parameterType="DeptDTO">
        select deptno, dname, loc
    	from dept
    	where dname = #{dname} or loc = #{loc}
    </select>
    
     <!-- 조건조회4 -->
    <select id="findByDnameOrLoc2" resultType="DeptDTO"
        parameterType="hashmap">
        select deptno, dname, loc
    	from dept
    	where dname = #{x} or loc = #{y}
    </select>
</mapper>


