<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.config.EmpMapper">
 
      <!-- 페이징 처리 -->
      <select id="paging" resultType="EmpDTO">
        select empno, ename, sal
        from emp
        order by empno desc
      </select>
 
 
 
 
      <!-- 단일 컬럼 -->
      <select id="totalCount" resultType="int">
        select count(*)
        from emp
      </select>

      <!-- 다중조건
         job 이 'MANAGER' 인 경우  sal > 1500 조회
                    job 이 'SALESMAN' 인 경우  sal > 2500 조회
		    모두 아니면  sal > 3000 조회
       -->
        <select id="multiChoose" parameterType="hashmap" resultType="EmpDTO">
           select empno, job,  sal 
		   from emp
		   <where>
               <choose>
                          <when test="xxx == 'MANAGER'"> 
                              <![CDATA[sal < 1500]]>
                           </when>
                          <when test="xxx == 'SALESMAN'">
                            <![CDATA[sal < 2500]]>
                          </when>
			  <otherwise>
			    <![CDATA[sal < 3000]]>
			  </otherwise>
		       </choose>
		   </where>
		   order by sal asc
       </select>
       <select id="multiChoose2" parameterType="hashmap" resultType="EmpDTO">
           select empno, job,  sal 
		   from emp
		   <where>
               <choose>
                          <when test="xxx == 'MANAGER'"> sal &lt; 1500</when>
                          <when test="xxx == 'SALESMAN'">sal &lt; 2500</when>
			  <otherwise>sal &lt; 3000</otherwise>
		       </choose>
		   </where>
		   order by sal asc
       </select>


     <!-- 
         update emp
		   set sal = sal + 100
          where empno IN ( 800, 1000, .. );
     -->
      <update id="updateSal" parameterType="arraylist">
         update emp
         set sal = sal + 10
         <where>
            <foreach item="x" collection="list" open="empno IN (" separator="," close=")">
                #{x}
            </foreach>
         </where>
      </update>



     <!-- 선택적인 update
          update emp
		 -set sal = 값
		 -set ename = 값
		 set sal = 값, ename = 값
		 where empno= 값;
      -->
     <update id="update" parameterType="EmpDTO">
     	  update emp
     	  <set>
     	    <if test="sal != 0">sal=#{sal},</if>
     	    <if test="ename != null">ename=#{ename}</if>
     	  </set>
     	  where empno = #{empno}
     </update> 



     <!-- 
         delete from emp
		  where empno IN ( 800, 1000, .. )
     -->
    <delete id="remove" parameterType="arraylist">
         delete from emp
         where empno IN
         <foreach item="x"  collection="list" 
                 open="(" separator="," close=")">
            #{x}
         </foreach>
    </delete>



    <!-- 
      insert into emp ( empno,ename,sal)
	  valuse (10,'a',100),(20,'a',100),(),...
    -->
    <insert id="multiInsert" parameterType="arraylist">
       insert into emp ( empno,ename, job, mgr, hiredate,sal,comm, deptno)
       values
       <foreach item="dto"  collection="list" separator=",">
         (#{dto.empno}, #{dto.ename},#{dto.job},#{dto.mgr},
          now(),#{dto.sal},#{dto.comm},#{dto.deptno})
       </foreach>
    </insert>
</mapper>


